* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.App {
  background-color: #ccf5bf;
  min-height: 700px;
  width: 500px;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: rgba(21, 21, 21, 0.3) 0 2px 6px;
}

.Header {
  background-color: #2386e9;
  color: #fafafa;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  font-family: New Century Schoolbook, serif;
  letter-spacing: 2px;
  cursor: pointer;
  
}
.Header h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

/* Let's style the Form */

.Form_container {
  padding: 6px;
  width: 98%;
  background-color: #ccf5bf;
}

.Form_container input {
  padding: 8px;
  width: calc(80% - 16px);
  border-radius: 4px;
  border: 1px solid #4696e5;
  margin-right: 8px;
  font-family: "Lato", sans-serif;
  background-color: #ccf5bf;
}

.Form_container button {
  font-family: "Lato", sans-serif;
  padding: 8px;
  width: calc(20% - 16px - 8px);
  background-color: #4696e5;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
/* Let's style the list */

.list_container {
  padding: 8px;
  width: calc(100% - 16px);
  font-family: "Lato", sans-serif;
  overflow: auto;
  background-color: #ccf5bf;
}

li {
  
  border: 1px solid #21212121;
  border-radius: 4px;
  padding: 6px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  text-transform: capitalize;
}

li button {
  /* padding: px; */
  /* background-color: #dc3545; */
  color: #fafafa;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
}

li button img {
  height: 22px;
  background-color: #dc3545;
  border-radius: 10px;
  cursor: pointer;
}
